.description,
.title {
  align-self: stretch;
  position: relative;
  z-index: 3;
}
.title {
  margin: 0;
  font-size: inherit;
  line-height: 48px;
  font-weight: 500;
  font-family: inherit;
}
.description {
  font-size: var(--font-size-base);
  line-height: 24px;
}
.titleParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.card,
.card1 {
  border: 0;
  background-color: var(--color-floralwhite);
  height: 104px;
  width: auto;
  outline: 0;
  flex: 1;
  border-radius: var(--br-7xs);
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  z-index: 3;
}
.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-21xl);
}
.card1 {
  padding: var(--padding-7xs) var(--padding-12xl);
}
.card1,
.cardContent,
.cardItems {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardItems {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-21xl);
}
.cardContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-61xl);
  min-width: 338px;
  max-width: 100%;
}
.imageIcon {
  height: 324px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.imageContainer {
  flex: 1;
  border-radius: var(--br-mini);
  overflow: hidden;
  justify-content: flex-start;
  min-width: 338px;
  z-index: 3;
}
.cardContainer,
.featuredCard,
.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.cardContainer {
  width: 1100px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.featuredCard {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-9xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1125px) {
  .cardContainer {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .cardItems {
    gap: var(--gap-xl);
  }
  .cardContent {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .cardItems {
    flex-wrap: wrap;
  }
  .cardContent {
    gap: var(--gap-xl);
  }
  .cardContent,
  .imageContainer {
    min-width: 100%;
  }
}
