.frameChild {
  height: 370px;
  width: 1299px;
  position: relative;
  border-radius: var(--br-mini);
  background: linear-gradient(270deg, rgba(73, 77, 50, 0.2), #2d2a19);
  display: none;
  max-width: 100%;
}
.empowerment {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.empowermentWrapper {
  width: 685px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.weBelieveIn {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  z-index: 1;
}
.empowermentContent,
.empowermentDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.empowermentDetails {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-20xl);
}
.empowermentContent {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-42xl) 0 0;
  box-sizing: border-box;
  min-width: 454px;
}
.empowermentImageIcon {
  width: 477px;
  position: relative;
  border-radius: 20.52px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-mini);
  background: linear-gradient(270deg, rgba(73, 77, 50, 0.2), #2d2a19);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-7xl) var(--padding-xl) var(--padding-7xl)
    var(--padding-33xl);
  box-sizing: border-box;
  gap: var(--gap-32xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-bisque-100);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1350px) {
  .empowermentImageIcon {
    flex: 1;
  }
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .empowerment {
    font-size: var(--font-size-10xl);
  }
  .empowermentDetails {
    gap: var(--gap-lgi);
  }
  .empowermentContent {
    min-width: 100%;
  }
  .rectangleParent {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .empowerment {
    font-size: var(--font-size-3xl);
  }
  .weBelieveIn {
    font-size: var(--font-size-base);
  }
  .rectangleParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
