.toHearMore {
  width: 361px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.newsletterContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.enterYourEmail {
  align-self: stretch;
  position: relative;
}
.emailInputContainer {
  width: 168.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-1) 0 0;
  box-sizing: border-box;
}
.subscribe {
  position: relative;
  font-size: var(--font-size-smi);
  font-weight: 600;
  font-family: var(--font-raleway);
  color: var(--color-bisque-100);
  text-align: center;
  display: inline-block;
  min-width: 73px;
}
.subscribeWrapper {
  cursor: pointer;
  border: 0.8px solid var(--color-bisque-100);
  padding: var(--padding-5xs) var(--padding-2xs);
  background-color: transparent;
  border-radius: 15.73px;
  flex-direction: row;
  justify-content: flex-start;
}
.subscribeWrapper:hover {
  background-color: var(--color-tan-200);
  border: 0.8px solid var(--color-tan-100);
  box-sizing: border-box;
}
.emailInput,
.newsletter,
.subscribeWrapper {
  display: flex;
  align-items: flex-start;
}
.emailInput {
  align-self: stretch;
  border-radius: var(--br-4xl-6);
  border: 1.2px solid var(--color-bisque-100);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-7xs)
    var(--padding-4xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base-3);
  color: var(--color-bisque-200);
}
.newsletter {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  min-width: 350px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-bisque-100);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 800px) {
  .newsletter {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .emailInput {
    flex-wrap: wrap;
    justify-content: center;
  }
}
